 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(172,140,20,0.35), rgba(172,140,20,0.35)), url("images/sutirta-budiman-kjOBqwMUnWw-unsplash.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 699px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 361px 0 0;
}

.u-section-1 .u-text-2 {
  width: 344px;
  margin: 18px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 576px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 441px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 331px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 378px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 47px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 260px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 1px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-icon-1 {
  width: 16px;
  height: 19px;
  font-size: 3.375em;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 260px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-text-2 {
  margin: 0 1px;
}

.u-section-2 .u-icon-2 {
  width: 16px;
  height: 19px;
  font-size: 3.375em;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 281px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-text-3 {
  margin: 0 1px;
}

.u-section-2 .u-icon-3 {
  width: 16px;
  height: 19px;
  font-size: 3.375em;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 281px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-2 .u-text-4 {
  margin: 0 1px;
}

.u-section-2 .u-icon-4 {
  width: 16px;
  height: 19px;
  font-size: 3.375em;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 214px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 214px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 232px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 232px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 20px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1009px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1215px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(172,140,20,0.4), rgba(172,140,20,0.4)), url("images/bibhash-knapsnack-life-banerjee-bgzpREiqplc-unsplash.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 243px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 32px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 13px auto 45px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 200px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 153px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 115px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 72px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 167px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 26px auto 0;
}

.u-section-4 .u-btn-1 {
  border-style: none none solid;
  font-size: 1.5rem;
  margin: 26px auto 50px;
  padding: 0;
}